<h2>Search</h2>
<%= form_tag search_path, :method => :post do %>
  <%= text_field_tag :query %>
  <%= submit_tag "Search", :class => "btn primary" %>
<% end %>

<hr />

<h2>Recent Images</h2>
<% @uploads.each do |upload| %>
  <div class="thumb"><%= link_to image_tag(upload.image.url(:thumb), :class => "thumb-image"), upload %></div>
<% end %>
